/* 255, 79, 108 */
.HomeNavBar {
  height: 69px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f06f78;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

.matchup {
  margin: auto;
  color: white;
  font-size: 40px;
  display: flex;
}

.btn-container {
  padding: 10px;
  left: 80%;
  margin-left: -85px;
  display: flex;
}

button {
  padding: 10px;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: white;
}

.session-btn {
  background-color: white;
  color: #f06f78;
}
